<!DOCTYPE = html>
<html>
<head>
	<title> Alpha-blog</title>
	<meta charset="UTF-8">
	<style>
	.center {
	    margin: auto;
	    width: 60%;
	    border: 3px solid #73AD21;
	    padding: 10px;
	}
	</style>
	
</head>
<body style="background-color: black; color: white;">
	<div class="center">
	<h1 style="text-align: center; color: white"> This is about page! Soon here will be much more content </h1>  
	<image src="http://www.coderiddles.com/wp-content/uploads/2013/11/learning-rails-big.jpg" style="text-align: center" width="665" height ="500">
		<h2 style="text-align: center; color: white">The deeper you dive into process the more interesting it becames!</h2>  
   <%= link_to "Back to Home Page", root_path %>
   </div>

</body>
</html>/