<!DOCTYPE = html>
<html>
<head>
	<title> Alpha-blog</title>
	<meta charset="UTF-8">
	<style>
	.center {
	    margin: auto;
	    width: 60%;
	    border: 3px solid #73AD21;
	    padding: 10px;
	}
	</style>
	
</head>
<body style="background-color: black;">
	<div class="center">
	<h1 style="text-align: center; color: white"> Welcome to my Alpha-blog!</h1>  
	<image src="https://blog.ctf365.com/wp-content/uploads/2014/07/keep-calm-and-learn-ruby-on-rails-8.png" style="text-align: center" width="665" height ="500">
		<h2 style="text-align: center; color: white">The deeper you dive into process the more interesting it becames!</h2>  
   
   <%= link_to "Alpha-blog", articles_path %> |
   <%= link_to "Go to About page", about_path %>
   <%= image_tag('bbagloo.jpg') %>
   
   </div>
</body>
</html>