<div class="container">
  <footer class="footer">
    <small>
      Copryright &copy; <a href="http://the-karma.com"> The-Karma</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %> </li>
      </ul>
      
    </nav>
    
  </footer>
  
</div>